.navbar_wrapper{
    min-height: 93px;
}
nav a{
    color: #1F1F1F;
    font-family: __SharpSans_002b07;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-logo{
    max-width: 160px;
    max-height: 50px;
    height: auto;
}

@media (min-width:768px) {
    .nav-logo{  
    max-width: 250px;
    max-height: 77px;
    height: auto;
    }
}