
.main-title{
  color: #9F212C;
  font-size: 30px;
  font-family: __Canela_Trial_3ac660;
}
.main-text{
  color: #282828;
  font-size: 16px;
  font-family: __Optima_f14549;
  line-height: 147%;
  text-transform: capitalize;
}
.main-caption{
color: #C0832B;
font-size: 18px;
font-family: __Optima_f14549;
line-height: 147%;
text-transform: capitalize;
}
.know-more-link a{
color: #C0832B;
text-align: center;
font-size: 14.708px;
font-family: __SharpSans_002b07;
font-weight: 500;
line-height: 148.5%;
text-decoration: none;

}
.small-bold-text{
color: #000;
text-align: center;
font-size: 16.045px;
font-family: __Canela_Trial_3ac660;
font-weight: 500;
line-height: 100%;
letter-spacing: 0.321px;
}

label{
  font-family: __SharpSans_002b07;
}

@media (min-width:768px) {

.main-title{
  color: #9F212C;
  font-size: 50px;
  font-family: __Canela_Trial_3ac660;
}
.main-text{
  color: #282828;
  font-size: 20px;
  font-family: __SharpSans_002b07;
  font-weight: 500;
  line-height: 147%;
  text-transform: capitalize;
}
.main-caption{
  color: #C0832B;
font-size: 20px;
font-family: __SharpSans_002b07;
font-weight: 500;
line-height: 147%;
text-transform: capitalize;
}
.know-more-link a{
  color: #C0832B;
  text-align: center;
  font-size: 19.351px !important;
  font-family: __SharpSans_002b07;
  font-weight: 500;
  line-height: 148.5%;
  text-decoration: none;
}
.small-bold-text{
  color: #000;
  text-align: center;
  font-size: 21.11px !important;
  font-family: __Canela_Trial_3ac660;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.422px;
}
}
