.announcmentBar{
    background: #282828;
    color: #fff;
}

.announcmentBar a{
    color: #FAD479;
    text-align: center;
    font-size: 20px;
    font-family: __Optima_f14549;
    text-decoration: none;
}
.book-now{
    border-radius: 6.237px;
    border: 1.329px solid #FFF;
    color: #FFF;
    text-align: center;
    font-size: 14.171px;
    font-family: __Optima_f14549;
    font-weight: 700;
    line-height: 100%;
    background-color: transparent;
    width: max-content;
}

@media (max-width:768px){
   .announcmentBar{
    background: #9F212C;
   } 
   .announcmentBar a {
    color: #FAD479;
    font-size: 14px;
    font-family: __Optima_f14549;
    line-height: 130%;
   }
}