.video_wrapper{
    position: relative; 
    background: #FFF6EC;
}
.video_item{
    position: relative;
    min-height: 545px;    
}


.video_item_content{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);

}
.video_item_textBox{
 max-width: 585px;
}
.video_item_title{
    color: #FFF;
    font-size: 54px;
    font-family: __Canela_Trial_3ac660;
    font-weight: 500;
    line-height: 135%;
    filter: drop-shadow(2px 4px 6px black);
}
.video_item_text{
    color: #FFF;
    font-size: 22px;
    font-family: __SharpSans_002b07;
    font-weight: 500;
    line-height: 132.4%;
    filter: drop-shadow(2px 4px 6px black);
}
.video_item_svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: .5;
}
.video_item_svg svg{
    height: 70px;
    width: 70px;
}


@media(max-width:768px){
    .video_item{
    min-height: 500px;
    object-fit: cover;
    border-radius: 25px;
    }
    .video_wrapper{
        padding: 12px;
    }
}